@font-face 
  font-family: 'Cubano' 
  src: url('../fonts/cubano/cubano-regular.ttf') format('truetype'),
  url('../fonts/cubano/cubano-regular.eot') format('eot'),
  url('../fonts/cubano/cubano-regular.woff') format('woff')
  font-weight: 400 
  font-style: normal
@font-face
  font-family: 'Brandon Grotesque' 
  src: url('../fonts/brandongrotesque/brandongrotesque-regular.ttf') format('truetype'),
  url('../fonts/brandongrotesque/brandongrotesque-regular.eot') format('eot'),
  url('../fonts/brandongrotesque/brandongrotesque-regular.woff') format('woff') 
  font-weight: 400 
  font-style: normal
@font-face 
  font-family: 'Brandon Grotesque' 
  src: url('../fonts/brandongrotesque/brandongrotesque-light.ttf') format('truetype'),
  url('../fonts/brandongrotesque/brandongrotesque-light.eot') format('eot'),
  url('../fonts/brandongrotesque/brandongrotesque-light.woff') format('woff') 
  font-weight: 300 
  font-style: normal
@font-face
  font-family: 'Brandon Grotesque' 
  src: url('../fonts/brandongrotesque/brandongrotesque-medium.ttf') format('truetype'),
  url('../fonts/brandongrotesque/brandongrotesque-medium.eot') format('eot'),
  url('../fonts/brandongrotesque/brandongrotesque-medium.woff') format('woff') 
  font-weight: 500 
  font-style: normal
@font-face 
  font-family: 'Brandon Grotesque' 
  src: url('../fonts/brandongrotesque/brandongrotesque-bold.ttf') format('truetype'),
  url('../fonts/brandongrotesque/brandongrotesque-bold.eot') format('eot'),
  url('../fonts/brandongrotesque/brandongrotesque-bold.woff') format('woff') 
  font-weight: 700 
  font-style: normal 